DISCORD_TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_application_id
MONGODB_URI=mongodb+srv://cretaniaserver_db_user:change_me@cluster0.ynm95c2.mongodb.net/?appName=Cluster0
MONGODB_DB_NAME=discord_bot
WEB_PORT=3000
WEB_PASSWORD=change_me
SESSION_SECRET=change_me_to_a_long_random_text
ENABLE_MESSAGE_CONTENT_INTENT=false
